header {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
input[type=text] {
  padding: 10px;
  border: 0;
  background: #f8f8f8;
  width: calc(100% - 20px);
  font-size: 16px;
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
button {
  background-color: #e31414;
}
.comment-btn {
  display: block;
}
.post-header button i {
  font-size: 0.9em;
}
.post-header .username{
  font-family: 'Ubuntu Mono';
  font-size: 1.5em;
}
.like-text {
  padding: 10px 0;
}
.post-footer textarea {
  width: 450px;;
  border: 1px solid #777777;
}
.all-comments p {
  width: 550px;
  padding: 10px;
  border: solid #e3e3e3;
  border-width: 4px 3px;
  margin: 0;
}
